nav{
    background-color: pink;
}
footer{
        background-color: pink;
    color: darkslategrey;
        text-align: center;
        font-style: italic;
        clear:both;
}    
h1, h4{
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    padding: 3px;
    background-color: azure;
    width: 300px;
    
}
th{
    text-align: center;
}
tr{
    text-align: center;   
}
nav div ul li a{
    color: aliceblue !important;
}
.center{
    text-align: center;
}
.contain{
    padding-left: 20px;
    padding-right: 20px;
}

.block-contain{
    padding: 20px;
}
#left-block{
   float: left;
    width: 50%;
}
#right-block{
    float: left;
    width: 50%;
    
}
#myPhoto{
    border-radius: 50%;
    height: 150px;
    padding-bottom: 10px;
}
#sunflower{
    height: 150px;
}
.social{
    height:50px;
    padding-bottom: 20px;
    clear:both;
    padding-left: 20px;
}
.logo{
    height: 5em;
    float: left;
}
.outputBox{
    background-color: lightgrey;
    
}
